<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link href="http://fonts.cdnfonts.com/css/pokemon-solid" rel="stylesheet">

    <title>Vue.js Game</title>
    
</head>
<body>
    <div id="game" class="h-screen bg-black">
        <div v-show="!newGame " class="flex flex-col py-12 h-screen items-center justify-center">
            <h1 class="text-yellow-400 text-5xl font-semibold mb-12 font-pokemon tracking-widest select-none text-center">Welcome to Pokémon Arena</h1>
            <h1 class="text-white font-semibold text-xl">A <span class="text-green-400">Vue.js</span> project</h1>
            <h1 class="text-white font-semibold text-xs">All images belongs to Nintendo</h1>
            <button @click="startNewGame" class="text-white p-4 bg-blue-800 animate-pulse rounded-md mt-12 font-semibold select-none">Start a New Game!</button>
            <img class="w-full sm:w-1/2 mt-10" src="../src/img/main.jpeg" alt="">

        </div>

        <div data-aos="zoom-in" v-cloak v-if="newGame && !characterSelected" class="flex flex-col items-center justify-center h-screen">
            <h1 class="text-yellow-400 text-3xl mb-14 sm:mb-0 text-center font-semibold font-pokemon tracking-widest select-none p-15">Select your Champion</h1>

            <div class="flex md:p-20">
                <div @click="charmanderSelected">
                    <img class="h-28 md:h-48 px-2 md:px-6 cursor-pointer rounded-xl hover:bg-yellow-500 transition duration-300 ease-in-out" src="../src/img/charmander.png" alt="">
            
                </div>
                <div @click="bulbosaurSelected">
                    <img class="h-28 md:h-48 px-2 md:px-6 cursor-pointer rounded-xl hover:bg-green-500 transition duration-300 ease-in-out" src="../src/img/bulbosaur.png" alt="">
                </div>

                <div @click="squirtleSelected">
                    <img class=" h-28 md:h-48 px-2 md:px-6 cursor-pointer rounded-xl hover:bg-blue-400 transition duration-300 ease-in-out" src="../src/img/squirtle.png" alt="">
                </div>
            </div>
        </div>

        <div data-aos="zoom-in" data-aos-duration="1000" v-if='characterSelected' >
           <div  class="flex justify-around items-baseline sm:items-center p-4 sm:p-8 lg:p-12 text-center">
            <div>
                <div>
                    <h1 class="text-white text-lg font-semibold mb-4">{{characterName }}</h1>
                    <img class="h-28 md:h-48 md:px-6" :src="imgSrc" alt="Charmander">
                    <div :style="playerBarStyles" class="w-50 h-4 bg-green-400 mt-2 duration-500"></div>
                    <h1 class="text-white text-sm sm:text-xl font-semibold mt-2">Health <span class="text-red-600 animate-pulse">♥</span> : {{ playerHealth }}</h1>
                    <h1 class="text-white text-sm sm:text-xll font-semibold mt-2">Health Potions left: {{healPotions }}</h1>
                </div>
               
               </div>
    
                <div v-if="!winner">
                    <h1 class="text-yellow-400 text-sm md:text-6xl font-semibold font-pokemon tracking-widest select-none">VS</h1>
                    <h1 class="text-white text-sm md:text-4xl mt-6 font-semibold font-pokemon tracking-widest select-none">Round: {{ currentRound }}</h1>
                </div>

                
    
                <div>
                    <h1 class="text-white text-lg font-semibold mb-4">Gengar</h1>
                    <img class="h-28 md:h-48 md:px-6" src="../src/img/gengar.png" alt="Charmander">
                    <div :style="gengarBarStyles" class="w-50 h-4 bg-green-400 mt-2 duration-500"></div>
                    <h1 class="text-white text-sm sm:text-xl font-semibold mt-2">Health <span class="text-red-600 animate-pulse">♥</span> : {{ gengarHealth }}</h1>
                </div>
           </div>

           <!-- Controls -->

           <div class="flex flex-col items-center sm:items-start md:flex-row md:justify-around">

              <section v-if="!winner" class="xl:w-1/4">
                <div v-if="charmander">
                    <div>
                        <p class="text-white font-semibold p-2">What will Charmander do?</p>
                        <button @click="growlAttack" class="p-3 sm:p-5 bg-yellow-600 text-white font-semibold rounded-xl select-none">Growl</button>
                        <button @click="basicAttack" class="p-3 sm:p-5 ml-5 bg-yellow-600 text-white font-semibold rounded-xl select-none">Scratch</button>
                        <button :disabled="mayUseSpecial" @click="specialAttack" class="disabled:opacity-50 p-3 sm:p-5 ml-5 bg-yellow-600 text-white font-semibold rounded-xl select-none">Ember</button>
                        

                    </div>
    
                    <div class="mt-5">
                        <button :disabled="mayUseHeal" @click="healPlayer" class="disabled:opacity-50 p-3 sm:p-5 bg-green-600 text-white font-semibold rounded-xl">Heal</button>
                        <button @click="surrender" class="p-3 sm:p-5 ml-5 bg-red-600 text-white font-semibold rounded-xl select-none">Surrender!</button>
                    </div>
                   </div>

                   <div v-if="bulbosaur">
                    <div>
                    <button @click="growlAttack" class="p-3 sm:p-5 bg-green-400 text-black rounded-xl font-semibold select-none">Growl</button>
                    <button @click="basicAttack" class="p-3 sm:p-5 ml-5 bg-green-400 text-black rounded-xl font-semibold select-none">Tackle</button>
                    <button :disabled="mayUseSpecial" @click="specialAttack" class="disabled:opacity-50 p-3 sm:p-5 ml-5 bg-green-400 text-black rounded-xl font-semibold select-none">Vine Whip</button>
                    </div>

                    <div class="mt-5">
                        <button :disabled="mayUseHeal" @click="healPlayer" class="disabled:opacity-50 p-3 sm:p-5 bg-green-300 text-black font-semibold rounded-xl">Heal</button>
                        <button @click="surrender" class="p-3 sm:p-5 ml-5 bg-red-400 text-black font-semibold rounded-xl select-none">Surrender!</button>

                    </div>
                   </div>

                   <div v-if="squirtle">
                    <div>
                    <button @click="growlAttack" class="p-3 sm:p-5 bg-blue-400 text-white rounded-xl font-semibold select-none">Tackle</button>
                    <button @click="basicAttack" class="p-3 sm:p-5 ml-5 bg-blue-400 text-white rounded-xl font-semibold select-none">Tail Whip </button>
                    <button :disabled="mayUseSpecial" @click="specialAttack" class="disabled:opacity-50 p-3 sm:p-5 ml-5 bg-blue-400 text-white rounded-xl font-semibold select-none">Water Gun</button>

                    </div>

                    <div class="mt-5">
                        <button :disabled="mayUseHeal" @click="healPlayer" class="disabled:opacity-50 p-3 sm:p-5 bg-green-400 text-white font-semibold rounded-xl">Heal</button>
                        <button @click="surrender" class="p-3 sm:p-5 ml-5 bg-red-400 text-white font-semibold rounded-xl select-none">Surrender!</button>

                    </div>
                   </div>

              </section>

              

              <section v-if="!winner" class="w-2/4 md:w-1/4  p-3 sm:p-5  overflow-auto text-black font-semibold bg-white rounded-lg mt-5 text-center">
                <h2 class="text-lg md:text-xl ">Battle Log:</h2>
                <ul class="max-h-20 sm:max-h-80">
                    <li v-for="logMessage in logMessages" class="text-sm md:text-lg">
                     {{ logMessage.actionBy }} - {{ logMessage.actionType }} - {{ logMessage.actionValue }}
                    </li>
                    
                </ul>
            </section>

            <section data-aos="zoom-in" data-aos-duration="500" class="text-white text-4xl font-semibold text-center" v-if="winner">
                <h2>Game Over!</h2>
                <h3 class="text-red-500" v-if="winner === 'monster'">You lost!</h3>
                <h3 class="text-green-400" v-else-if="winner === 'player'">You won!</h3>
                <h3 class="text-yellow-400" v-else>It's a draw</h3>
                <button @click="restartGame" class="text-white p-4 bg-blue-800 animate-pulse rounded-md mt-5 text-2xl">Character Selection</button>
              </section>

           </div>
    </div>
   
    <script src="./src/aos.js"></script>
    <script src="./src/vue.vue"></script>
    <script src="./src/main.js"></script>
    
</body>
</html>